* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #F5F9E9;
}

header {
    background-color: #36453B;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #F5F9E9;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #F5F9E9;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

.hero {
    /* placeholder for img hehe */
    background-image: url('warehouse.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: #fff;
    position: relative;
    background-color: #555c4e;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    background-color: #36453B;
    color: #F5F9E9;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.get-in-touch-header {
    background-color: #F0F4ED;
    padding: 35px 0;
    text-align: center;
}

.get-in-touch-header h2 {
    font-size: 32px;
    font-weight: bold;
    color: #555c4e; 
    margin: 0;
}

.contact-section {
    background-color: #555c4e;
    color: #fff;
    padding: 35px 20px;
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-info {
    max-width: 400px;
    text-align: left;
}

.contact-info h3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.footer-links {
    display: flex;
    gap: 60px;
    text-align: left;
}

.footer-links div h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: normal;
}

footer {
    margin-top: 0px;
    font-size: 12px;
    color: #F5F9E9;
    text-align: center;
    padding: 10px 0;
    border-top: 0px solid #444;
    background-color: #36453B;
}
